<div class="well form-horizontal"> 
    <%= form_for(inventory) do |f| %>
      <% if inventory.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

          <ul>
          <% inventory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label ('Item Name:'), class: "control-label" %>
        <%= f.text_field :itemName, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label ('Item Quantity:'), class: "control-label"%>
        <%= f.number_field :itemQuantity, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label ('Item Description:'), class: "control-label" %>
        <%= f.text_area :itemDesc, class: "form-control"  %>
      </div>
      <div class="field">
        <%= f.label ('Item Catagory:'), class: "control-label" %>
        <%= f.collection_select :itemCatagory, Inventory::CATAGORIES, :to_s, :to_s, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label ('Item Price'), class: "control-label" %>
        <%= f.number_field :itemPrice, class: "form-control"  %>
      </div>    
      <br>
      <div class="actions">
        <%= f.submit class: "btn btn-success" %>
      </div>    
    <% end %>
</div>
