<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Inventories</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Quantity</th>
        <th>Item Description</th>
        <th>Item Catagory</th>
        <th>Item Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @inventories.each do |inventory| %>
        <tr>
          <td><%= inventory.itemName %></td>
          <td><%= inventory.itemQuantity %></td>
          <td><%= inventory.itemDesc %></td>
          <td><%= inventory.itemCatagory %></td>
          <td>Rs.<%= inventory.itemPrice %></td>
          <!-- <td ><%= link_to 'View', inventory, class: "btn btn-primary"%></td> -->
          <td><%= link_to 'Edit', edit_inventory_path(inventory)%></td>
          <td><%= link_to 'Delete', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Inventory', new_inventory_path, class: "btn btn-primary" %>
</div>
