<p id="notice"><%= notice %></p>

<p>
  <strong>Itemname:</strong>
  <%= @inventory.itemName %>
</p>

<p>
  <strong>Itemquantity:</strong>
  <%= @inventory.itemQuantity %>
</p>

<p>
  <strong>Itemdesc:</strong>
  <%= @inventory.itemDesc %>
</p>

<p>
  <strong>Itemcatagory:</strong>
  <%= @inventory.itemCatagory %>
</p>

<p>
  <strong>Itemprice:</strong>
  <%= @inventory.itemPrice %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
