<div id="search", class="well" style="margin-top: 40px;">
  <h2>
    Search Result
  </h2>
  <% if @results %>
    <% @results.each do |product| %>
      <p>
        <strong>Name:</strong>
        <%= product.name %><br>
      </p>
      <p>
        <strong>Code:</strong>
        <%= product.code %>
      </p>
      <p>
        <strong>Catagory:</strong>
        <%= product.catagory.title %>
      </p>
      <p>
        <strong>Stock:</strong>
        <%= product.stock %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= product.price %>
      </p>
      <%= link_to 'Back', products_path, class: "btn btn-default" %>
    <% end %>
  <% else %>
    <tr>
      Product not found!
    </tr>
  <% end %>
</div>