<h1>Today's Sales List</h1>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% data_for_chart = {} %>
<% Product.group(:catagory).count.each {|catagory,count| data_for_chart[catagory.title] = count} %>
<%= pie_chart data_for_chart %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sale ID</th>
      <th>Name</th>
      <th>Created Date</th>
      <th>Total</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td>#<%= sale.id %></td>
        <td><%= sale.name %></td>
        <td><%= sale.created_at.utc.getlocal.strftime("%Y/%m/%d %I:%M%p")  %></td>
        <td>Rs.<%= sale.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>