<div class="well">
  <p>
    <strong>Code:</strong>
    <%= @product.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
  	<strong>Catagory:</strong>
  	<%= @product.catagory.title %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= @product.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @product.user %>
  </p>
</div>
<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
<%= link_to 'Back', products_path, class: "btn btn-default" %>
