<p>  
  <strong>Customer Name:</strong>  
  <%= @sale.name %>  
</p>  
<%= link_to 'Edit', edit_sale_path(@sale) %> |  
<%= link_to 'Back', sales_path %>  
<h1>Listing Item</h1>  
<table class="table table-striped">  
  <thead>  
    <tr>  
      <th>Product</th>  
      <th>Unit Price</th>  
      <th>Quantity</th>  
      <th>Total</th>  
      <th></th>  
    </tr>  
  </thead>  
  <tbody>  
    <% @sale.items.each do |item| %>  
      <tr>  
      <td><%= item.product.name %></td>  
      <td>Rs.<%= item.product.price %></td>  
      <td><%= item.quantity %></td>  
      <td>Rs.<%= item.total %></td>  
    </tr>  
    <% end %>  
  </tbody>  
</table>  
<hr>  
<p> Total Amount:</p>  
  <STRONG>Rs. <%= @sale.total%></STRONG>  
<hr> 